* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

.radioPad{
    display: inline-block;
    vertical-align: middle;
}

.radioPadWrapper{
    display: block;
    cursor: pointer;
    border-radius: 10px;
    background: #999999;
    color: white;
    margin: 0.2rem;
    padding: 0.6rem;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}    

.radioPadWrapper:active, .radioPadWrapperSelected{
    background: rgb(80, 80, 80) !important;
}

.radioPadWrapper:hover{
    background: rgb(100, 100, 100);
}
      
.radioPadRadio{
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
}

.text-info {
    color: #17a2b8!important;
}

.text-success {
    color: #28a745!important;
}

H6 {
    display: inline;
}

.space { 
    margin-top: 15em;
}